.scroll_arrow_right,
.scroll_arrow_left {
  position: absolute;
  top: calc(50% - 25px);
  cursor: pointer;
  z-index: 1;
}

.scroll_arrow_left .icon_left {
  display: block;
}

.scroll_arrow_left .icon_left_hover {
  display: none;
}

.scroll_arrow_left:hover .icon_left {
  display: none;
}

.scroll_arrow_left:hover .icon_left_hover {
  display: block;
}

.scroll_arrow_right .icon_right {
  display: block;
}

.scroll_arrow_right .icon_right_hover {
  display: none;
}

.scroll_arrow_right:hover .icon_right {
  display: none;
}

.scroll_arrow_right:hover .icon_right_hover {
  display: block;
}

.scroll_arrow_left {
  left: 4px;
}

.scroll_arrow_right {
  right: 4px;
}