.row_info {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.row_info_mobile {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.block {
  width: 570px;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #D4D4D4
}

.sub_title {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  color: #D4D4D4;
}

.row_activities {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}

.activity_card {
  width: 420px;
  height: 386px;
  border-top: 1px solid #99660A;
}

.activity_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.master_block {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 150px;
}

.master_column {
  display: flex;
  flex-flow: column nowrap;
}

.master_image {
  width: 270px;
  height: 360px;
  object-fit: cover;
}

.master_infos {
  border-top: 1px solid #99660A;
  text-align: left;
}