.camp_card_add_mobi,
.camp_card_add {
  display: flex;
  flex-flow: column nowrap;
  height: 520px;
  width: 570px;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: rgba(212, 212, 212, 1);
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.camp_card_add:active,
.camp_card_add:hover {
  background: #232020;
}

.camp_card_add_mobi {
  height: 281px;
  width: 335px;
}