.profile_coach_content {
  overflow: hidden;
}

.profile_coach_img,
.profile_stub_img {
  width: 400px;
  height: 400px;
  margin: 0 auto 20px auto;
  border-radius: 8px;
}

.profile_coach_img_mobi {
  width: 315px;
  height: 315px;
  margin: 0 0;
  border-radius: 8px;
  object-fit: cover;
}

.profile_name_mobi,
.profile_name {
  width: 400px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  margin: 0 auto;
  text-align: left;
  color: rgba(212, 212, 212, 1);
}

.profile_name_mobi {
  font-size: 16px;
  line-height: 150%;
}

.promo_area_mobi,
.promo_area {
  display: block;
  background: rgba(212, 212, 212, 1);
  margin: 0 auto 30px auto;
  height: 180px;
  width: 400px;
  border-radius: 8px;
}

.promo_area_mobi {
  margin: 0 0;
  height: 105px;
  width: 315px;
}