.camp_card {
  display: flex;
  flex-flow: column nowrap;
  height: 520px;
  min-width: 570px;
  max-width: 570px;
  padding: 14px;
  border-radius: 8px;
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: rgba(212, 212, 212, 1);
  overflow: hidden;
  position: relative;
}

.camp_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 150px 75px;
  gap: 50px;
}

.camp_image_wrapper {
  width: 570px;
  min-height: 290px;
  max-height: 290px;
  height: 290px;
}

.camp_img {
  width: inherit;
  min-height: inherit;
  max-height: inherit;
  height: inherit;
  border-radius: 8px;
  object-fit: cover;
}

.button {
  width: 160px;
  height: 70px;
  padding: 4px 14px;
  border-radius: 8px;
  background: linear-gradient(96.57deg, #99660A 2.74%, #F2DB51 23.52%, #F2DB51 67.51%, #99660A 104.15%);
  color: #152355;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
