.header_mobile,
.header {
  display: flex;
  flex-flow: row nowrap;
}

.header_mobile {
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 850px;
}

.dropdown_menu {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
}

.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown .dropdown_content {
  display: none;
  background: #191A26;
  border-radius: 4px;
  padding: 15px;
  left: -15px;
  width: 270px;
}

.dropdown .dropdown_closed {
  display: inline-block;
}

.dropdown:hover .dropdown_closed {
  transform-origin: center;
  transform: rotate(180deg);
}

.dropdown_closed {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 8px;
}

.dropdown:hover .dropdown_content {
  display: block;
  position: absolute;
}

.dropdown:has(.link_active) {
  color: #99660A !important;
}

.menu_popap {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  z-index: 999;
}

.menu_popap > li {
  margin: 14px 0;
}

.menu_popap a,
.menu a {
  color: white;
  text-decoration: none;
}

.icons_mobile,
.icons {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: space-between;
  cursor: pointer;
  width: 188px;
}

.icons {
  margin-left: auto;

}

.button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  width: 108px;
  height: 47px;
  background: linear-gradient(96.57deg, #99660A 2.74%, #F2DB51 23.52%, #F2DB51 67.51%, #99660A 104.15%);
  border-radius: 8px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 22px;
  line-height: 16px;
  align-items: center;
  color: #152355;
  cursor: pointer;
}

.burger {
  display: flex;
  align-items: center;
}

.popap_menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  width: 300px;
  opacity: 0.9;
}

.user_avatar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link_pending {
  color: gray !important;
  opacity: .8;
}

.link_active {
  color: #99660A !important;
}
