.text_align_l {
  text-align: left;
}

.img_wrapper {
  position: relative;
  width: 120px;
  cursor: pointer;
}

.trash {
  position: absolute;
  top: 50%;
  left: calc(50% + 12px);
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
}

.aye {
  position: absolute;
  top: 50%;
  left: calc(50% - 12px);
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
}

.upload_real_img {
  height: 120px;
  width: 120px;
}

.img_wrapper:hover .upload_real_img {
  opacity: .3;
}

.img_wrapper:hover .aye,
.img_wrapper:hover .trash {
  visibility: visible;
}

.img_label {
  margin-right: 20px;
}

.button {
  height: 44px;
  padding: 10px 20px;
  border-radius: 8px;
  color: #152355;
}

.image_name {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px;
}

.input_image {
  display: none;
}

.stub_img {
  cursor: pointer;
}
.stub_img:hover {
  opacity: .8;
}

.img_col {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.images_img_col {
  display: flex;
  flex-flow: column nowrap;
}

.images_row {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  overflow: auto;
}