.info_card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #D4D4D4;
}

.info_row {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center;
}

.camp_card_add,
.camp_card {
  display: flex;
  flex-flow: column nowrap;
  height: 520px;
  width: 570px;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: rgba(212, 212, 212, 1);
  overflow: hidden;
  position: relative;
}

.camp_card_add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.camp_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 150px 75px;
  gap: 30px;
}

.edit_camp_content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  height: 500px;
  padding: 50px 50px 0 50px;
}

.profile_camp_modal,
.edit_camp_modal {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.profile_camp_modal {
  width: 420px;
  height: 768px;
  background: rgba(136, 136, 136, 1);
}

.edit_camp_modal {
  width: 1200px;
  height: 768px;
}

.text_align_l {
  text-align: left;
}

.input_field_short,
.textarea_field,
.input_field {
  height: 64px;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input_field_short {
  width: 280px;
}

.textarea_field {
  min-height: 192px;
  resize: none;
}

.modal_header {
  padding: 30px 50px;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}

.modal_footer {
  padding: 20px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
}

.setting_camp,
.setting {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.setting_camp {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.img_label {
  margin-right: 20px;
}


.button {
  height: 44px;
  padding: 10px 20px;
  border-radius: 8px;
  color: #152355;
}

.image_name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.input_image {
  display: none;
}

.upload_coach_img {
  height: 120px;
  width: 120px;
}

.stub_img {
  height: 120px;
  min-height: 120px;
  max-height: 120px;
  width: 120px;
  background: #D4D4D4;
  font-size: 56px;
  color: #152355;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camp_image_wrapper {
  width: 100%;
  height: 290px;
}

.camp_img {
  width: inherit;
  min-height: inherit;
  max-height: inherit;
  height: inherit;
  border-radius: 8px;
  object-fit: cover;
}

.button_profile {
  width: 244px;
  height: 70px;
  box-sizing: border-box;
  padding: 4px 14px;
  border-radius: 8px;
  background: linear-gradient(96.57deg, #99660A 2.74%, #F2DB51 23.52%, #F2DB51 67.51%, #99660A 104.15%);
  color: #152355;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.package_card {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-content: flex-start;

  background: #191A26;
  border: 2px solid #D4D4D4;
  
  width: 300px;
  
  padding: 20px 10px 20px 10px;
  border-radius: 4px;
}

.packages {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin: 50px 0;
}

.row_prices {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  width: 100%;
}

.col_price {
  width: 120px;
  overflow: hidden;
}

.pack_label {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.pack_input {
  width: 100%;
}

.pack_area,
.pack_input,
.pack_col {
  height: 32px;
  padding: 4px;
  border-radius: 4px;
  border: 1px;
}

.pack_col {
  width: 112px;
}

.pack_area {
  resize: none;
  height: 96px;
}

.selected_option_pack {
  background: #D4D4D4;
}

.img_col {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.images_img_col {
  display: flex;
  flex-flow: column nowrap;
}

.images_row {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
}

.date_picker {
  text-align: left;
}

.title {
  font-size: 40px;
}

.camp_info {
  font-size: 22px;
}

.camp_card_title {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  color: #FFFFFF;
}

.camp_card_subtitle {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: #FFFFFF;
}