.camps_scroller {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.camps_scroller_mobi {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.camp_card_add {
  display: flex;
  flex-flow: column nowrap;
  height: 520px;
  width: 570px;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: rgba(212, 212, 212, 1);
  overflow: hidden;
  position: relative;

  justify-content: center;
  align-items: center;
}