.container {
  position: relative;
}

.item > div {
  margin: 0 auto;
}

.dot_list {
  bottom: -15px !important;
  gap: 1px;
}

/* Блокирует вертикальный скролл при горизонтальном свайпе на iOS */
.carousel__container {
  touch-action: pan-x;
}