.button_save,
.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 47px;
  background: linear-gradient(96.57deg, #99660A 2.74%, #F2DB51 23.52%, #F2DB51 67.51%, #99660A 104.15%);
  border-radius: 8px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 22px;
  line-height: 16px;
  align-items: center;
  color: #152355;
  cursor: pointer;
}

.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 20px;
}

.button_save {
  margin: 0 0 30px 50px;
  padding: 10px;
}

.flex_row_info,
.flex_row {
  display: flex;
  flex-flow: row nowrap;
}

.flex_row {
  margin: 0 75px;
}

.flex_row_info {
  width: 50%;
}

.flex_col_action {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.avatar_wrapper {
  position: relative;
}

.avatar_reload,
.avatar_basket {
  position: absolute;
  right: 10px;
}

.avatar_basket {
  top: 10px;
  color: #F2DB51;
}

.avatar_reload {
  top: 35px;
}

.avatar {
  width: 270px;
  height: 360px;
}

.dump_avatar {
  width: 270px;
  height: 270px;
  padding: 50px 0;
}

.user_info {
  text-align: left;
  list-style-type: none;
}

.user_info > li + li {
  margin-top: 8px;
}

.icon_edit_info {
  cursor: pointer;
}

.scroll_arrow_right,
.scroll_arrow_left {
  position: absolute;
  top: calc(50% - 25px);
  cursor: pointer;
}

.scroll_arrow_left {
  left: 0;
}

.scroll_arrow_right {
  right: 0;
}

.button_camp {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;

  width: 244px;
  height: 70px;
  padding: 4px 14px;
  border-radius: 8px;
  background: linear-gradient(96.57deg, #99660A 2.74%, #F2DB51 23.52%, #F2DB51 67.51%, #99660A 104.15%);
  color: #152355;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.camp_img_wrap {
  width: 521px;
}

.camp_img_dump,
.camp_img {
  width: 521px;
  height: 273px;
  min-height: 273px;
  max-height: 273px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.camp_img_dump {
  background-color: rgba(25, 26, 38, 1);
}

.camps_wrap {
  padding-bottom: 20px;
  margin: 0 75px;
}

.camps_scroller {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  height: 100%;
  overflow: hidden;
  gap: 20px
}

.camp_info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.camp_card {
  width: 569px;
  height: 100%;
  padding: 24px;
  border-radius: 8px;
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid rgba(255, 255, 255, 1)
}

.modal_edit_info {
  height: 720px;
}

.column_info {
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  height: 420px;
  gap: 20px;
  padding: 50px;
}

.column_info > input {
  height: 64px;
  padding: 20px 0px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.table {
  width: 100%;
  text-align: left;
  border-spacing: 30px;
}

.table > tr > th {
  border-bottom: 1px solid #888888;
}

.table td,
.table th {
  width: 420px;
}

.wrap_user_add {
  text-align: left;
  padding: 0 30px;
}

.input_field {
  height: 64px;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.add_user_modal {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  height: 400px;
  width: 500px;
  gap: 20px;
}

.column {
  margin-top: 150px;
}