.info_img_wrapper_stub,
.info_img_wrapper {
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: #2e2f38;
}

.row_prevew_images {
  display: flex;
  flex-flow: row nowrap;
}

.prevew_img_wrapper_stub,
.prevew_img_wrapper {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  overflow: hidden;
  background-color: #2e2f38;
}

.info_img_wrapper_stub,
.prevew_img_wrapper_stub {
  background-color: #999999;
}

.prevew_img_current,
.info_current_img,
.prevew_img {
  width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  box-sizing: border-box;
  border: 1px solid transparent;
  object-fit: contain;
}

.prevew_img_current {
  border: 1px solid blue;
}

.scroll_arrow_right,
.scroll_arrow_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.scroll_arrow_left {
  left: 4px;
}

.scroll_arrow_right {
  right: 4px;
}
