.camp {

}

.main_img_wrapper {
  width: 100%;
  height: 920px;
  min-height: 920px;
  max-height: 920px;
  overflow: hidden;
}

.name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  white-space: nowrap;
  font-size: 200px;
  font-weight: 700;
  line-height: 300px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;  
}

.date {
  position: absolute;
  top: 470px;
  font-size: 100px;
  left: 0;
  right: 0;
  white-space: nowrap;
  font-weight: 600;
  line-height: 150px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;  
}

.info_row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.info_img_wrapper {
  width: 720px;
  height: 480px;
  min-height: 480px;
  max-height: 480px;
  overflow: hidden;
}

.info_list {
  width: 720px;
}

.row_prevew_images {
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  gap: 30px;
}

.prevew_img_wrapper {
  width: 120px;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  overflow: hidden;
}

.main_img,
.info_current_img,
.prevew_img {
  width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  object-fit: cover;
}