.button {
  width: 242px;
  height: 70px;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(96.57deg, #99660A 2.74%, #F2DB51 23.52%, #F2DB51 67.51%, #99660A 104.15%);
  margin-top: 30px;
  color: #152355;
}

.modal_input {
  width: 412px;
}

.modal_input_long {
  width: 870px;
}

.input_wrapper {
  position: relative;
}

.wrapper {
  margin-top: 150px;
  padding: 50px 50px;
  background: rgba(33, 36, 54, 0.5);
  text-align: center;
}

.col_inputs {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
}

.row_input {
  display: flex;
  flex-flow: row;
  width: 870px;
  gap: 30px;
}
