.title {
  text-align: center;
}

.coach_img {
  width: 393px;
  height: 400px;
}

.coach_card_add,
.coach_card {
  display: flex;
  flex-flow: column nowrap;
  height: 666px;
  min-width: 420px;
  max-width: 420px;
  padding: 14px;
  border-radius: 8px;
  background: rgba(128, 128, 128, 0.2);

  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: rgba(212, 212, 212, 1);
  overflow: hidden;
  margin-bottom: 50px;
}

.coach_card_add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coach_add {
  display: inline-block;
  text-align: center;
  line-height: 135px;
  width: 154px;
  height: 154px;
  background: rgba(217, 217, 217, 1);
  border-radius: 50%;
  color: rgba(136, 136, 136, 1);
  font-size: 88px;
}

.coaches_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 75px;
}

.coach_infos {
  overflow: auto;
  margin: 0;
  height: 100%;
}

.coach_card_footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.button_profile {
  width: 160px;
  height: 41px;
  padding: 4px 14px;
  border-radius: 8px;
  background: linear-gradient(96.57deg, #99660A 2.74%, #F2DB51 23.52%, #F2DB51 67.51%, #99660A 104.15%);
}

.edit_coach_modal {
  display: flex;
  flex-flow: column nowrap;
  width: 1000px;
  height: 400px;
}

.upload_coach_img {
  height: 120px;
  width: 120px;
}