:root {
  font-family: 'Open Sans';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

#detail {
  text-align: center;
}

/* Применяется ко всем элементам со скроллбаром на странице */
* {
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}
/* Для Webkit-браузеров */
*::-webkit-scrollbar {
  width: 8px; /* ширина */
}
*::-webkit-scrollbar-track {
  background: transparent; /* фон дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* цвет ползунка */
  border-radius: 4px; /* закругление углов ползунка */
}
