.auth_button {
  width: 172px;
  height: 53px;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(96.57deg, #99660A 2.74%, #F2DB51 23.52%, #F2DB51 67.51%, #99660A 104.15%);
  margin: 6px 0 50px 65px;
  color: #152355;
}

.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.modal {
  padding: 184px 290px;
  border-radius: 8px;
  background: rgba(25, 26, 38, 1);
  z-index: 999;
  position: absolute;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.modal_back {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  background-color: #333333;
  opacity: 0.5;
}

.modal_input {
  width: 420px;
  height: 88px;
  border-radius: 8px;

  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.input_wrap {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  padding: 24px;
  height: 440px;
}

.input_validation_error {
  border-color: red;
}

.validation_error {
  position: absolute;
  left: 8px;
  bottom: -24px;
  color: red;
}

.tab_login {
  width: 485px;
}

.tab_registration {
  width: 485px;
  margin-left: auto;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 1040px;
  margin-top: 50px;
}

.header > span {
  cursor: pointer;
}

.current_header {
  border-bottom: 1px solid #D4D4D4;
}

.success {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}